

body{
font-family: 'Bangers', cursive;
background-image: url(images/justice-leaguejpeg.jpeg);
background-size: cover;

}
  
header{
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  font-size: 40px;
  
}

h1{
  margin-top: 10px;
  color: #f4ebea;
  -webkit-text-stroke: 1px black;
}


.grid {
  display: flex;
  flex-wrap:wrap;
  padding: 80px;
  margin-left: 450px;
  width: 900px;
  height: 500px;

}
img{
width: 21%;
}

h2{
  text-align: center;
  margin-top: 40px;
  font-family: monospace;
  font-size: 26px;
  color: white;
  
}

footer{
  height: 80px;

  
}
h3{
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  color: #f4ebea;
  -webkit-text-stroke: 1px black;

}
button{
  width: 100px;
  font-family:'Bangers', cursive;
  font-size: 30px;
  cursor: pointer;

}