
body{
    background-image: url(images/blue.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bangers', cursive;}
    
.container {
    margin-left: 250px;
    padding: 100px;
    margin-top: 80px;
    display: grid;
    grid-template-areas: "left main right";
    height: 500px;
    background-color:#fff;
    width: 1200px;
}

.player1 {
    width: 400px;
    background-image: url(images/Super\ Woman_Monochromatic.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: inline-block;
    grid-area: left;
    text-align: left;
}

.player2 {
    width: 400px;
    background-image: url(images/Super\ Man_Monochromatic.svg);
    background-size: cover;
    background-repeat: no-repeat;

    display: inline-block;
    grid-area: right;
    text-align: left;
}

.current-1 {
    width: 100px;
    height: 50px;
    background: rgb(215, 25, 15);
    border-radius: 40%;
    margin-left: 50px;
}

.current-2 {
    width: 100px;
    height: 50px;
    background: rgb(31, 31, 235);
    border-radius: 40%;
    margin-left: 50px;


}

.grid {
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 294px;
    grid-area: main;
    background:rgb(236, 236, 67) ;
}

.grid div {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid black;
}

.player-one {
    background-color: red;
    border-radius: 20px;
}

.player-two {
    background-color: blue;
    border-radius: 20px;
}

.grid .taken {
    border: 1px solid white;
}

button {
    display: block;
    text-align: center;
    margin: 50px auto;
    margin-top: -90px;
    background-color: rgb(15, 15, 16);
    color: white;
    border: none;
    font-size: 18px;
    width: 160px;
    border-radius: 30px;
}

button:hover {
    font-size: 30px;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    color: red;
    
}

h3{
    font-size: 40px;
}
footer{
    height: 60px;
    margin-top:100px;
    text-align: center;
    color: black;
    
}